* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

@media (max-width: 920px) {
  html {
    min-height: 100%;
  }
}

body {
  background-color: #FFFAEE;
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

:global(body div#root) {
  height: 100%;
}

h2 {
  color: #030720;
  align-items: center;
  justify-content: center;
  display: flex;
}

/****** HEADER ******/
.home {
  background-color: #fbfbfb;
  margin-top: 20px;
  width: 100%;
}

.home-logo {
  background-color: #272727;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.homeEmployeeLinkNav {
  display: flex;
  height: auto;
  justify-content: space-between;
}

.navBtn {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  width: 100px;
  height: 40px;
  line-height: 40px;
  color: #000000;
  background-color: white;
  padding: 0 10px;
  border-radius: 5px;
  border: 2px solid black;
  margin: 10px;
}

.navBtn:hover {
  transition-duration: 0.4s;
  border: 2px solid #038d4f;
  color: #FFFAEE;
  border-radius: 5px;
  box-shadow: inset 5em 2.1em #038d4f;
}

.nav-logo {
  height: 350px;
  margin-top: -100px;
  margin-bottom: -140px;
}

/****** HERO ******/
.homeIcon {
  height: 500px;
  align-content: center;
  transition: 0.4s;
}

.heroTitleContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  transition: 0.4s;
}

.heroTitle {
  font-size: 6rem;
  color: black;
  transition: 0.4s;
}

.heroSubtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 1.6rem;
  color: black;
  margin-top: 35px;
  margin-bottom: 60px;
  font-weight: bold;
  justify-content: center;
}

.hrIcon {
  height: 65vh;
  transition: 0.4s;
  position: absolute;
  z-index: 30;
}

.sphereIcon {
  height: 50vh;
  transition: 0.4s;
  position: absolute;
  z-index: -10;
}

.hrnetlogo {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

@media (max-width: 426px) {
  .home-logo {
    flex-direction: column;
  }

  .heroTitle {
    font-size: 3.8rem;
  }

  .sphereIcon {
    height: 28vh;
  }

  .hrIcon {
    height: 34vh;
  }

  .heroSubtitle {
    font-size: 1.4rem;
    margin-left: 15px;

  }
}

@media (max-width: 321px) {

  .heroTitle {
    font-size: 3rem;
  }

  .sphereIcon {
    height: 20vh;
  }

  .hrIcon {
    height: 25vh;
  }

  .heroSubtitle {
    font-size: 1.1rem;
    margin-left: 25px;

  }
}


/****** FORM ******/
.formContainer {
  min-height: 73%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  background-color: #FFFAEE;
  width: 28%;
  padding: 5px 50px 30px 50px;
  margin: 50px 0;
  box-shadow: 0 0 28px #1a548e;
  border-radius: 15px;
}

@media (max-width: 920px) {
  form {
    width: 100%;
  }
}

form label {
  display: block;
  color: #1a548e;
  width: 100%;
  text-transform: uppercase;
  font-size: 0.7rem;
  border: 3px solid #1a548e;
  border-radius: 5px;
  padding: .7%;
  margin-bottom: 15px;
}

form label > span {
  margin-top: -8px;
  margin-bottom: 3px;
  display: block;
  background-color: #FFFAEE;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0px 4px;
}

form label input type,
form label input type {
  color: #1a548e;
} 

form input,
form select {
  cursor: pointer;
  color: #1a548e;
  background-color: #FFFAEE;
  border: 4px solid #FFFAEE;
  width: 98%;
  padding: 0px !important;
}

.buttonIndex {
  background-color: #272727;
  color: #FFFAEE;
  width: 100%;
  border: none;
  height: 30px;
  cursor: pointer;
}

.address {
  margin-top: 10px;
}

fieldset {
  border: none;
  padding: 0px;
}

legend {
  display: none;
}

.error {
  color: red;
  font-size: 30px;
  font-weight: bold;
}

.submitButton {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  width: 100px;
  height: 40px;
  line-height: 40px;
  color: #038d4f;
  background-color: #FFFAEE;
  padding: 0 10px;
  border-radius: 5px;
  border: 2px solid #038d4f;
  margin: 10px;
}

.submitButton:hover {
  cursor: pointer;
  transition-duration: 0.4s;
  border: 2px solid #038d4f;
  color: #FFFAEE;
  border-radius: 5px;
  box-shadow: inset 5em 2.1em #038d4f;
}

/****** FOOTER ******/
.footerContainer {
  background-color: #272727;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  margin: 70px;
  color: white;
}

/****** ERROR404 ******/
.errorTitle {
  display: flex;
  justify-content: center;
  font-size: 248px;
  font-weight: 750;
  margin: 0;
  color: #8CCDB0;
  transition: 0.4s;
}


.errorLink {
  margin: 0;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  color: #59738D;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
}

.errorContent {
  display: flex;
  width: 100%;
  color: black;
  font-size: 32px;
  font-weight: 500;
  justify-content: center;
  transition: 0.4s;
  color: #59738D;
}

.logo404 {
  display:flex;
  justify-content: center;
  align-items: center;
}

.errorIcon {
  margin-top: -30px;
  margin-bottom: -30px;
  height: 50vh;
  transition: 0.4s;
}

@media only screen and (max-width: 2560px) {
  .errorContainer {
      margin: 1% auto;
  }
}

@media only screen and (max-width: 960px) {
  .errorContent {
      text-align: center;
  }
}

@media only screen and (max-width: 819px) {
  .errorContainer {
      margin: 5% auto;
  }

  .errorTitle {
      font-size: 206px;
  }

  .errorLink{
      font-size: 14px;
  }

  .errorContent {
      font-size: 18px;
  }

  .errorIcon {
    height: 35vh;
  }

}

@media only screen and (max-width: 426px) {
  .errorContainer {
      margin: 20% auto;
  }
  .errorTitle {
      font-size: 150px;
  }

  .errorIcon {
    height: 20vh;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 376px) {
  .errorContainer {
      margin: 13% auto;
  }

  .errorIcon {
    height: 16vh;
  }
}

@media only screen and (max-width: 321px) {
  .errorContainer {
      margin: 10% auto;
  }
  .errorTitle {
      font-size: 90px;
  }

  .errorIcon {
    height: 13vh;

  }
}

/***** TABLE *****/
.tableContainer {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 60px 40px 60px;
}

.tableSize {
  width: 100%;
}

.MuiTablePagination-selectLabel,
.css-16c50h-MuiInputBase-root-MuiTablePagination-select,
.css-t89xny-MuiDataGrid-columnHeaderTitle,
.css-1w53k9d-MuiDataGrid-overlay,
.css-v4u5dn-MuiInputBase-root-MuiInput-root,
.MuiSvgIcon-root {
  color: #1a548e;
}

.css-t89xny-MuiDataGrid-columnHeaderTitle {
  text-transform: upperCase;
}

.MuiDataGrid-main {
  height: 400px;
}

.css-194a1fa-MuiSelect-select-MuiInputBase-input.MuiSelect-select,
.css-levciy-MuiTablePagination-displayedRows,
.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
  color: #1a548e;
}

.css-1x1olcu-MuiDataGrid-root .MuiDataGrid-withBorderColor {
  border-bottom: #FFFAEE;
  border-top: #FFFAEE;
}

.customOverlay {
  color: #1a548e;
  z-index: 3000;
}

.css-1akuw9y-MuiDataGrid-overlayWrapperInner {
  background-image: url(./assets/HRNetBlueLogoSphere.png);
  background-repeat: no-repeat;
  display: flex;
  background-size: 15vh;
  background-position: center 15%;
}

/*** Loader ***/

.loaderContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: loaderOpacity 1s forwards;
          animation: loaderOpacity 1s forwards;
}

.loader {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #038d4f transparent #555 transparent;
  border-radius: 50%;
  -webkit-animation: loader 0.5s linear infinite;
          animation: loader 0.5s linear infinite;
}

@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    z-index: -10;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loaderOpacity {
  30% {
      opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes loaderOpacity {
  30% {
      opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
} 

